.spots-img-card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: .5s;

}
.spots-img-card:hover{
  transform: translateY(-2px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.spots-img-card figure {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.spots-img-card figure p {
  width: 100%;
  height: 100%;
}

.spots-img-card figure img {
  width: 100%;
  height: 100%;
  aspect-ratio: 3 / 2;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.spots-img-card figure:hover img {
  transform: scale(1.05); /* 이미지 확대 효과 */
}

.spots-img-card figure figcaption {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  padding: 10px;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  font-family: 'PressStart2P';
  transition: .5s;
  line-height: 1.5;

  
}
.spots-img-card:hover figure figcaption {
  bottom: 0;
}


.spots-img-card figure figcaption p:first-child {
  font-family: 'Pretendard-Regular';
  color: #ddd;
  font-size: .8em;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.spots-img-card figure figcaption p:last-child {
  font-family: 'Pretendard-Regular';
  font-size: 1em;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); 
}