@media (max-width: 1450px) {
  .spots header > ul{
    gap: 23px;
  }
}
@media (max-width: 1400px) {
  .spots header,.footer-container{
    width: 90%;
  }
  .spots-container {
  width: 90%;
  }

}

/* max-width: 1200px */
@media (max-width: 1200px) {
  .spots-content-cards {
    flex-wrap: wrap;
    gap: 10px;
  }
  .spots-content-card {
    width: 48%;
    margin-bottom: 20px;
  }
  .spots header > ul > li:nth-child(-n+3){
    display: none;
  }
  .spots .mobile-menu {
    display: block;
  }
  .footer-container {
    padding-bottom: 30px;
  }
}



@media (max-width: 768px) {
  .spots-menu-box::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 엣지 등에서 스크롤바 숨기기 */
  }
  .spots header .search-box {
    order: 1; /* h1과 ul 아래로 이동 */
    margin-top: 10px; /* 상단 마진 추가 */
    width: 100%;
  }
  .spots .search-box input {
    width: 100%;
  }
  .spots header > ul {
    order: 0; /* `h1`과 함께 상단에 위치 */
    justify-content: space-between;
  }
  .spots-menu-box{
    width: 100%;
    overflow-X: scroll;
    margin: 20px 0;
    margin-right: auto;

  }
  .spots-menu-box button{
    flex-shrink: 0;
    width: 100px;
  }
  .spots-content-card {
    width: 100%;
  }


}
/* max-width: 576px */
@media (max-width: 576px) {
  .spots header > ul li .translation .dropdown-menu{
    left: 0;
  }
  .spots .mobile-menu li{
    flex-direction: column;
    gap: 2px;
    padding: 7px 0
  }
  .spots header h1 {
    font-size: 14px;
  }
  .spots .weather-container h2,
  .spots .weather-container .weather-temperature span,
  .spots .weather-container .weather-icon i{
    font-size: 12px;
  }
  .spots header > ul > li{
    font-size: 14px;
  }
  .footer-container {
    padding-bottom: 60px;
  }
}

@media (max-width: 375px) {
  .spots-content-top h2{
    font-size: 1.2em;
  }
  .spots-content-top button{
    font-size: 0.8em;
    padding: 5px 18px 5px 10px;
  }
}