/* 전체 컨테이너 */
.spots {

}

/* 헤더 섹션 */
.spots header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid #ddd;
  width: 70%;
  margin: auto;
  flex-wrap: wrap;
}


.spots header h1 {
  font-size: 24px;
  font-weight: bold;
  font-family: 'SeoulHangangM';
}


.spots header .search-box {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.spots header .search-box input {
  width: 100%;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  color: #555;
  padding-right: 40px;
  padding-left: 10%;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.spots header .search-box input:focus {
  border-color: #7db8f7;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}


.spots header .search-box .search-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  font-size: 18px;
  cursor: pointer;
}
.spots header .search-box .search-icon:hover {
  color: #7db8f7;
}


.spots header > ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 30px;
}

.spots header > ul > li {
}

.spots header > ul li button {
  background: none;
  border: none;
  font-size: 16px;
  color: #888;
  cursor: pointer;
}

.spots header > ul li .translation{
  width: 30px;
  height: 30px;
  margin-top: 0;
  margin-right: 0;
}
.spots header > ul li .translation svg{
  font-size: 18px;
  margin-top: 0;
}

.spots header > ul li .translation .dropdown-menu{
  top: 150%;
  transform: translateX(-45%);
  width: 70px;
}
.spots header > ul li .translation .dropdown-menu li{
  padding: 5px 10px;
  font-size: 14px;
  color: #555;
  cursor: pointer;
}


.spots .weather-container, .spots .weather-container .weather-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888;
}
.spots .weather-container .weather-temperature span{
  font-family: 'SeoulHangangM';
}
.spots .weather-icon i.fa-sun{
  color: #f8d71c;
}
.spots .weather-icon i.fa-cloud,
.spots .weather-icon i.fa-cloud-sun,
.spots .weather-icon i.fa-snowflake{
  color: #f0f0f0;
}
.spots .weather-icon i.fa-cloud-showers-heavy{
  color: #b0b0b0;
}




/* 카드 리스트 */
.spots-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: auto;
}

.spots-menu-box {
  width: 100%;
  display: flex;
  gap: 10px;
  margin: 20px auto;
  
}
.spots-menu-box.auto-width button {
  width: auto;
}

.spots-menu-box button {
  padding: 5px 20px;
  width: 90px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}



.spots-menu-box button:hover {
  background-color: #f0f0f0;
  color: #000;
}

.spots-menu-box button.active {
  background-color: #000;
  color: #fff;
}

.spots-content {
  width: 100%;
}

/* 타이틀 부분 */
.spots-content-top {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.spots-content-top h2 {
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'GmarketSansMedium';
}

.spots-content-top button {
  background: #007BFF;
  border: none;
  color: white;
  padding: 7px 20px 7px 12px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.spots-content-top button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.spots-content-top button i{
  margin-right: 5px;
  transition: transform 0.3s;
}
.spots-content-top button:hover i {
  transform: rotate(180deg);
}

.spots-content-cards {
  width: 100%;
  margin: 20px auto;
  display: flex;
  gap: 20px;
  justify-content: space-around;
}



.spots .mobile-menu {
  display: none;
}

.spots .mobile-menu ul{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  
}

.spots .mobile-menu ul li{
  width: 100%;
  color: #333;
  padding: 7px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-family: 'GmarketSansMedium';
}
.spots .mobile-menu ul li span{
  font-family: inherit;
  font-size: 12px;
}
.spots .mobile-menu ul li i{
  color: #666;
}

.spots-all-tourist, .spots-all-festival{
  flex-wrap: wrap;
}